{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About this App {% endblock %}</h1>
        <p> Author: Alexander Singleton (ajs6@alumni.princeton.edu) </p>
        <p> This app is a demonstration of a Flask backend powered through a sqlite database </p>
        <p> Please try experimenting with adding, editing, and removing data on the 'View Tables' page </p>
        <p> Technical inspiration is chiefly due to: <a href="https://www.digitalocean.com/community/tutorials/how-to-use-an-sqlite-database-in-a-flask-application"> digitalocean.com </a> </p>
{% endblock %}